/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 17, 2014, 6:00:25 PM
    Author     : douglas
*/

#tip-background{position:fixed; top:0px; left:0px; width:100%; height:100%; background-color: #000; opacity: 0.5; z-index:990}
.tip-text{display: inline; color: #fff; font-size: 20px; position: relative; z-index: 999}